html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

header {
    width: 375px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #C6C6C6;
}

#logo {
    width: 120px;
    margin: 0;
}

.container {
    width: 375px;
    margin: 0 auto;
}

.post-header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.post-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-size: 15px;
}

.post-header-info p {
    margin: 0;
    padding: 0;
}

.post-header-info .post-author {
    margin-top: 3px;
    font-weight: bold;
}

.post img{
    max-width: 375px;
    margin-bottom: 10px;
}

.post-icons img{
    width: 30px;
    margin-left: 10px;
}

.post-interactions p{
    margin: 10px;
}

.post-nick {
    font-weight: bold;
}